
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome <%= @user.fname %> to Txttide, find your favorite book or start getting paid </h1>
    <p>Thanks for joining and have a great day!</p>
    <h1>
  </body>
</html>