
<%= form_for(@user) do |f| %>

    <table class="table">
        <tr>
            <th>Firstname</th>
            <th>Lasname</th>
            <th>Update<th>
        </tr>

        <tr>
            <td><%= f.text_field(:fname) %></td>
            <td><%= f.text_field(:lname) %></td>
            <td>
                <%= f.submit("Update") %>
            </td>
        </tr>
    </table>

<% end %>